
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; padding: 0;
}

/* Style the header */
#header {
  margin: 0;
  padding: 10px;
  font-size: 1.75rem;
  border-bottom: 1px solid #CCCCCC;
  text-align: center;
}

.logo {
  float: right;
  height: 2.0rem;
  padding-right: 10px;
  padding-left: 10px;
}

/* Create two columns/boxes that floats next to each other */
#nav {
  padding: 20px;
  background-color: #fafafa;
  float: left;
  height: 100%;
  width: 20%;
  font-size: 1.25rem;
}

/* Style the list inside the menu */
#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav li {
  padding-bottom: 20px;
}

#main {
  padding: 20px;  
  float: left;
  width: 80%;
  background-color: #FFFFFF;
  border-left: 1px solid #CCCCCC;
  height: 100%; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
#footer {
  background-color: #555555;
  padding: 10px;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;

}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
